@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
html,body {
   height: 100%;
   background-color: #003f5c;
   font-family: 'Roboto', sans-serif;
    
}
.container{
    min-height:100%;
}

.navbar {
    padding: 35px 5%;
    padding-top: 0px;
    background: #111;
}
.navbar div{
    padding: 10px 0px;
}

.navbar a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-family: calibri;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav {
    float: right;
}

.nav a {
    padding: 0px 5px;
}
#logo{
    font-size: 20px;
}
.nav a:hover{
    text-decoration: underline;
    color: #4CAF50;
}


.case-categories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    text-align: center;
    padding: 10px 0px;
    width: 300px;
    margin: 0px auto;
}
.case-categories div{
    border: 2px solid black;
    
}
.reports-section {
    margin-top: 30px;
}
.reports-section .incident{
    
    background-color:#fff;
    margin: 6px;
    color: black;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    
}


.incident span{
    cursor: pointer;
    font-weight: bold;
    padding: 0px 5px;
}
.incident p{
    margin: 5px 0px;
    padding: 5px;
    background: #fdf3f3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: context-menu;
}
.incident h3{

    background-color: #fbe555;
    padding-left: 5px;
    color: black;
    margin: 5px 0px;
    cursor: context-menu;
}
.incident i{
    cursor: pointer;
    padding-left: 5px;
    padding-top: 5px;
}

select , .update-status-btn{
    float: right;
    margin-right: 10px;
    cursor: pointer;
    padding: 3px 3px;
}
.update-status-btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




#footer{
    background-color: black;
    color: white;
    font-size: 20px;
    position: relative;
    height: 100px;
    margin-top: 100px;
    clear: both;
}
#footer div{
    text-align: center;
    padding-top: 40px;
}
@media screen and (min-width:768px){

    .reports-section{
        margin: 0px 40px;
        padding: 40px;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 120px;
        padding: 35px 5%;
        background: #111;
    }

  }





   
   
   /* for ipad pro */
   @media screen and (min-width:1024px){
       .navbar{
           display: grid;
           grid-template-columns: 2fr 1fr;
           grid-gap: 0px;
       }
   }
   /* for laptops*/
   @media screen and (min-width:1280px){
       .navbar{
           display: grid;
           grid-template-columns: 3fr 1fr;
           grid-gap: 0px;
       }
   }