@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
html,body {
   height: 100%;
   background-color: #003f5c;
   font-family: 'Roboto', sans-serif;
    
}
.container{
    min-height:100%;
}

.navbar {
    padding: 35px 5%;
    padding-top: 0px;
    background: #111;
}
.navbar div{
    padding: 10px 0px;
}

.navbar a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-family: calibri;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav {
    float: right;
}

.nav a {
    padding: 0px 5px;
}
#logo{
    font-size: 20px;
}
.nav a:hover{
    text-decoration: underline;
    color: #4CAF50;
}






.first-page-section div{
    text-align: center;
    background: cyan;
    padding: 50px;
    background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );
    margin-top: 5px;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
    box-shadow: 4px 4px 4px #888888;
    
   
}

.action-start p{
    font-size: 20px;


}
button{
    margin-top: 20px;
    background: #4CAF50;
    border: none;
    color: #fff;
    font-family: calibri;
    font-size: 16px;
    letter-spacing: 3px;
    box-shadow: 2px 5px 9px rgba(0,0,0,.2);
    height: 50px;
    width: 200px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
 }
 
 button:hover{
    box-shadow: 4px 10px 18px rgba(0,0,0,.2);
    background: #0dcdcb;
    color: #fff;
    transform: translateY(-5px);
    transition: 0.4s;
 }




.card-wrapper{
    padding: 50px;
    text-align: center;
}
.card{
    
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card p{
      text-align: left;
      padding:0px 10px 10px;
  }
  .news-letter{
    padding:20px;
    text-align: center;
    color: white;
}





#footer{
    background-color: black;
    position: relative;
    height: 100px;
    margin-top: 80px;
    clear: both;
}
.news-letter{
    padding:20px;
    text-align: center;
    color: white;
}
.news-letter h4{
    font-size: 20px;
}

input[type=text] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  
#footer{
    background-color: black;
    color: white;
    font-size: 20px;
    position: relative;
    height: 100px;
    margin-top: 100px;
    clear: both;
}
#footer div{
    text-align: center;
    padding-top: 40px;
}

/* for ipads and other devices with relatively the same width */
@media screen and (min-width:768px){

 .card-wrapper{
     display: flex;
 }
 .news-letter{
     width: 300px;
   margin: 0px auto;
 }
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px;
    padding: 10px 5%;
    background: #111;
}


    
}


/* for ipad pro */
@media screen and (min-width:1024px){
    .navbar{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0px;
    }
}
/* for laptops*/
@media screen and (min-width:1280px){
    .navbar{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0px;
    }
}